@import "src/styling-constants/colors.scss";

.ground {
  margin-bottom: 120px;

  @media (max-width: 800px) {
    margin-bottom: 80px;
  }

  .mainBox {
    //

    .title {
      color: $black17;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;

      margin-bottom: 24px;

      @media (max-width: 800px) {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 16px;
      }
    }

    .descAndFrost {
      margin-bottom: 30px;

      .desc {
        color: $black17;
        font-size: 20px;
        line-height: 28px;

        @media (max-width: 800px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .frost {
      }
    }

    .visuals {
      display: flex;
      flex-wrap: nowrap;

      column-gap: 36px;

      @media (max-width: 800px) {
        column-gap: 20px;
      }

      .left {
        // border: 1px solid blue;
        width: 100px;
        flex-grow: 1.5;

        .meadowImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;

          @media (max-width: 800px) {
            border-radius: 8px;
          }
        }
      }

      .right {
        width: 100px;
        flex-grow: 1;
        // border: 1px solid red;

        .plankImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;

          @media (max-width: 800px) {
            border-radius: 8px;
          }
        }
      }
    }
  }
}
