@import "src/styling-constants/colors.scss";

.ground {
  margin-bottom: 120px;

  @media (max-width: 800px) {
    margin-bottom: 80px;
  }

  .mainBox {
    background-color: antiquewhite;
    min-height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
