@import "src/styling-constants/colors.scss";

$distLeftRight: clamp(20px, 5%, 96px);

.ground {
  // padding-left: $distLeftRight;
  // padding-right: $distLeftRight;
  margin-bottom: 120px;

  @media (max-width: 800px) {
    margin-bottom: 80px;
  }

  .mainBox {
    // background-color: antiquewhite;
    min-height: 400px;

    // display: flex;
    // align-items: center;
    // justify-content: center;

    .top {
      padding-left: $distLeftRight;
      padding-right: $distLeftRight;

      margin-bottom: 44px;

      @media (max-width: 1000px) {
        margin-bottom: 32px;
      }

      .title {
        color: $black17;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;

        @media (max-width: 1000px) {
          font-size: 28px;
          line-height: 36px;
        }
      }
    }

    // .superSlider {}
  }
}

.superSlider.superSlider.superSlider.superSlider {
  padding-left: $distLeftRight;
  padding-right: $distLeftRight;

  .goLeft {
    left: $distLeftRight;
  }

  .goRight {
    right: $distLeftRight;
  }
}

.slideImage {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}
