@import "src/styling-constants/colors.scss";

.ground {
  

  .mainBox {
    display: flex;
    max-width: 100%;
    border: 1px solid red;

    min-height: clamp(380px, 50vw, 840px);

    .introDescription {
      width: 300px;
      flex-grow: 1.5;
      flex-shrink: 1;
    }

    .imageBox {
      width: 300px;
      flex-grow: 1;
      flex-shrink: 1;

      .introImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 80% 0;
      }
    }
  }
}
