@import "src/styling-constants/colors.scss";

$distLeftRight: clamp(20px, 5%, 96px);

.ground {
  // padding-left: $distLeftRight;
  // padding-right: $distLeftRight;
  margin-bottom: 120px;

  @media (max-width: 800px) {
    margin-bottom: 80px;
  }

  .mainBox {
    // background-color: antiquewhite;
    min-height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    .mySwiper {
      padding-left: $distLeftRight;
      padding-right: $distLeftRight;
    }
  }
}

.mySwiper.mySwiper.mySwiper {
  .sl {
    border: 1px solid red;
    height: initial;
    min-height: 100px;

    width: 300px !important;
  }

  .goLeft {
    z-index: 2;
    position: absolute;
    left: $distLeftRight;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;
    border: 1px solid red;
  }

  .goRight {
    z-index: 2;
    position: absolute;
    right: $distLeftRight;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;
    border: 1px solid red;
  }
}
