@import "src/styling-constants/colors.scss";

.inputBox {
  position: relative;
  // width: 100%;
  min-width: 100px;
  // margin-bottom: 16px;
  border-radius: 10px;

  // border: 1px solid blue;

  .inputWrap {
    position: relative;
    height: 52px;
    background: $lightGray;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;

    .label {
      z-index: 1;
      position: absolute;
      top: 8px;
      left: 14px;
      font-size: 0.75rem;
      font-weight: 600;
      color: $gray600;

      &.hide {
        position: absolute;
        transform: scale(0); // In order to to be discoverable for screan reader software
      }
    }

    .myInput {
      position: absolute;
      top: 24px;
      left: 14px;
      // border: 1px solid blue;
      outline: none;

      width: calc(100% - 28px);
      padding: 0px;

      margin: 0px;

      background: none;

      font-weight: 600;
      font-size: 1rem;
      color: #5a5a5a;

      color: black;

      &.empty {
        top: 50%;
        transform: translateY(-50%);
      }

      &::placeholder {
        color: #9e9e9e;
      }
    }

    .passEye {
      z-index: 1;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      border-radius: 50%;
      overflow: hidden;

      width: 22px;
      height: 22px;

      &:hover {
        cursor: pointer;
        filter: brightness(0.65);
      }

      &:active {
        filter: brightness(0.2);
        // cursor: wait !important;
      }
    }
  }

  .error {
    z-index: 1;
    position: relative;
    color: red;
    // border: 1px solid red;
    // height: 80px;
  }
}
